# Binaries
/mms
/mmsd
/libmms.*

# Static files built into the binary
/pkg/statik

# VSCode
/.vscode/

# Test coverage artifacts
coverage.txt

# Runtime
events.sqlite
mms_authorized_keys

# Config
/mms_config.yml
/mmsd_config.yml
