{{define "changelog"}}
{{template "header"}}
<h2>Changelog</h2>
<table>
    <tr><th width="15%">Date</th><th width="85%"> </th></tr>
    <tbody>
      <tr>
        <td><time datetime="2019-09-23">2019-09-23</time></td>
        <td><h3>New beta version of /hello endpoint</h3>
            <p><a href="/docs/apiref#/hello/helloBeta">Beta version of hello service</a> has now new fields, containing a geometry specification.</p>
            <p>The changes to the beta version of the service will be merged into <a href="/docs/apiref#/hello/hello"></a>the production version at <time datetime="2019-11-23">23.november 2019.</time></p>
        </a></td>
      </tr>
      <tr>
        <td><time datetime="2019-04-23">2019-04-23</time></td>
        <td><h3>Beta version released</h3>
            <p>Happy day! The first version of Hello API has been released. Its in Beta status though, so expect sudden changes and possibly breaking api changes without notice.</p>
            <p>We expect the API to stabilize and release a GA version of the service in a few months time.</p>
        </a></td>
      <tr>
    </tbody>
  </table>


{{template "footer"}}
{{end}}